body {
    background-image: url('fotos/WhatsApp\ Image\ 2024-10-22\ at\ 10.46.54.jpeg'); /* Especifica la ruta de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Hace que la imagen permanezca fija al hacer scroll */
    
}
.login-box {
    position: relative;
    width: 300px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1); /* Caja transparente */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    color: #fff;
    font-size: 18px;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 18px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

button {
    background-color: transparent;
    border: 2px solid #03a9f4;
    color: #03a9f4;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

button:hover {
    background-color: #03a9f4;
    color: #fff;
}
