@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: aquamarine;
    pointer-events: none;
    margin-right: 10%;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: white;
}
.parallax{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text{
   position: absolute;
   font-size: 5em;
   color: #fff;
   text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.parallax img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}
.sec{
    position: relative;
    background: #003329;
    padding: 100px;
}
.sec h2{
    color: #fff;
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
}
.sec p{
    color: #fff;
    font-size: 1em;
    font: 300;
    
}